@primary: #a7212a;
@default: #999;

@bg-default: #eee;

html, .full-height {
	height: 100%;
}

.text-inverse {
	color: @default !important;

	&:hover {
		color: @bg-default !important;
	}
}

.nowrap {
	white-space: nowrap;
}

.no-decoration {
	text-decoration: none !important;
}

.bg-none {
	background: none;
}

.hover-sibling + .show-child {
	display: none;
}

.hover-sibling:hover + .show-child, .hover-sibling + .show-child:hover {
	display: block;
}

.hover-parent {
	.show-child { 
		display: none;
	}
	
	&:hover {
		.show-child { 
			display: block;
		}
	}
}

.absolute-thumb {
	overflow: hidden;
    height: 370px;
	
	img {
	    width: 100%;
	}
}

.cursor-default {
	cursor: default;
}

.cursor-pointer {
	cursor: pointer;
}

.border-default {
	border: solid 1px @bg-default;
}

[tooltip] {
	cursor: default;
}